@media (min-width: 1920px) {
    section {
        max-width: 1920px;
    }

    .slider_btn_block {
        width: 100%;
    }

    .v_block {
        width: 100%;
    }

    .com_slider {
        width: 100%;
    }

    .owl-nav, .owl-dots {
        max-width: 1640px;
    }
}
@media (max-width: 1433px){
    .cns_val {
        font-size: 40px;
        line-height: 54px;
    }
}

@media (max-width: 1399px) {
    .cst_pd {
        padding-left: 350px;
        padding-right: 250px;
    }

    .free_cns {
        padding-left: 150px;
    }

    .heading {
        font-size: 45px;
    }

    .com_info {
        font-size: 34px;
    }

    .t_head {
        font-size: 32px;
    }

    .t_cns_val {
        font-size: 45px;
    }

    .drop-zone__input {
        width: 60%;
    }
}

@media (max-width: 1299px) {
    .heading {
        font-size: 40px;
    }

    .cst_pd {
        padding-left: 350px;
        padding-right: 150px;
    }

    .owl-nav,
    .owl-dots {
        padding-left: 70px;
        padding-right: 150px;
    }

    .free_cns {
        padding-left: 250px;
    }

    .t_head {
        font-size: 30px;
    }
}

@media (max-width: 1245px) {
    .dl_block {
        width: 434px;
    }

    .stores img {
        width: 190px;
        height: auto;
    }

    .store_button {
        width: 407px
    }

    .dl_info {
        font-size: 15px;
    }

    .t_dl_info {
        font-size: 18px;
    }

    .t_add_info {
        font-size: 17px;
    }

    .t_store_info {
        font-size: 18px;
    }

    .t_store_button {
        width: 400px;
    }

    .t_cns_val {
        font-size: 43px;
    }
}

@media (max-width: 1199px) {
    .com_info {
        font-size: 32px;
    }

    .cst_pd {
        padding-left: 350px;
        padding-right: 87px;
    }

    .owl-nav,
    .owl-dots {
        padding-left: 70px;
        padding-right: 87px;
    }

    .dl_block {
        width: 429px;
    }
    .cst_container{
        margin: 0 auto 0 50px;
    }

}

@media (max-width: 1170px) {
    .profile-footer-content-title {
        font-size: calc(18px + (6 - 6 * 0.7) * ((100vw - 360px) / 1170));
        line-height: calc(22px + (8 - 8 * 0.7) * ((100vw - 360px) / 1170));
    }

    .profile-footer-content-description {
        font-size: calc(14px + (4 - 4 * 0.7) * ((100vw - 360px) / 1170));
        line-height: calc(17px + (5 - 5 * 0.7) * ((100vw - 360px) / 1170));
    }

    .cns_val {
        font-size: 34px;
        line-height: 45px;
    }
}

@media (max-width: 1155px) {
    .heading {
        font-size: 38px;
        line-height: 48px;
        margin-left: 30px;
    }

    .k_heading {
        margin: 0;
    }

    .dl_block {
        width: 370px;
    }

    .dl_info {
        line-height: 18px;
    }

    .store_info {
        margin-top: 30px;
        font-size: 17px;
    }

    .stores img {
        width: 168px;
    }

    .store_button {
        width: 353px;
    }

    .cns_free_block {
        width: 766px;
    }

    .cns_bg_block {
        width: 725px;
    }

    .t_cns_val {
        font-size: 41px;
    }

    .t_head {
        font-size: 30px;
        margin: 0;
        line-height: 43px;
    }

    .t_dl_info {
        font-size: 17px;
        line-height: 22px;
    }

    .t_add_info {
        font-size: 16px;
    }

    .t_store_info {
        font-size: 17px;
    }

    .t_img {
        transform: translate(-134px, -76px);
    }


}

@media (max-width: 1099px) {
    .heading {
        font-size: 36px;
        line-height: 44px;
    }

    .asl_img {
        transform: translate(50px, 50px);
        width: 509px;
    }

    .dl_info {
        font-size: 14px;
        line-height: 17px;
    }

    .add_info {
        font-size: 13px;
        line-height: 17px;
    }

    .dl_block {
        width: 337px;
    }

    .store_info {
        font-size: 16px;
        margin-top: 20px;
        line-height: 20px;
    }

    .stores img {
        width: 154px;
    }

    .store_button {
        width: 323px;
    }

    .stores {
        margin: 15px 0 13px;
    }

    .calculate {
        height: auto;
        padding-bottom: 100px;
    }

    .com_info {
        font-size: 30px;
    }

    .cns_free_block {
        width: 651px;
        padding: 32px 33px;
    }

    .cns_free_block p {
        font-size: 14px;
        line-height: 22px;
    }

    .cns_bg_block {
        width: 590px;
    }

    .num {
        font-size: 22px;
    }

    .t_head {
        font-size: 26px;
        margin: 0;
        line-height: 40px;
    }

    .t_img {
        transform: translate(-98px, -77px);
        width: 543px;
    }

    .t_store_button {
        width: 328px;
    }

    .dl_block {
        margin-top: 41px;
    }

    .t_cns_val {
        font-size: 34px;
    }

    .mp_btn_group {
        flex-direction: column;
    }

    .mp_btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .mp_socseti {
        grid-template-areas: "q w"
                             "e r";
    }

    .t {
        border-right: none;
        border-bottom: 1px solid #CBCBCB;
    }

    .w {
        border-bottom: 1px solid #CBCBCB;
    }

    .mp_seti {
        justify-content: flex-start;
        padding-left: 20px;
    }

    .mp_sert img {
        width: 135px;
    }

    .mp_head {
        font-size: 26px;
        line-height: 32px;
    }

    .mc {
        padding-top: 30px;
    }

    .hint {
        transform: translate(-53px, -70px);
    }
}

@media (max-width: 1033px){
    .cns_val {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 991px) {
    .heading {
        font-size: 34px;
        line-height: 43px;
    }

    .asl_img {
        width: 426px;
    }

    .dl_block {
        width: 265px;
    }

    .stores img {
        width: 118px;
    }

    .store_button {
        width: 251px;
        font-size: 16px;
    }

    .dl_info {
        font-size: 14px;
        line-height: 16px;
    }

    .add_info {
        font-size: 14px;
        line-height: 16px;
    }

    .com_info {
        font-size: 28px;
        line-height: 40.2px;
    }

    .cst_container{
        margin: 0 auto;
    }
    .cst_pd {
        padding-left: 311px;
        padding-right: 38px;
    }

    .cns_free_block {
        width: 524px;
        padding: 39px 34px;
    }

    .cns_free_block p {
        font-size: 13px;
        line-height: 20px;
    }

    .cns_bg_block {
        width: 480px;
    }

    .num {
        font-size: 16px;
    }

    .t_head {
        font-size: 24px;
        line-height: 40px;
    }

    .t_dl_block {
        width: 100%;
    }

    .t_dl_info {
        font-size: 17px;
        line-height: 20px;
    }

    .t_add_info {
        font-size: 16px;
    }

    .t_store_info {
        font-size: 17px;
    }

    .t_dl_block {
        width: 337px;
    }

    .t_stores img {
        width: 142px;
    }

    .t_store_button {
        width: 304px;
    }

    .t_img {
        transform: translate(-65px, -77px);
        width: 543px;
    }
}

@media (max-width: 923px) {
    .t_img {
        width: 494px;
        transform: translate(-76px, -77px);
    }

    .t_cns_val {
        font-size: 32px;
    }
}

@media (max-width: 916px) {
    .m_footer {
        display: grid;
        grid-template-areas: "qq ww"
                             "aa ss";
        grid-template-columns: auto auto;
        grid-column-gap: 25px;
        justify-content: flex-start;
        text-align: left;
    }

    .m_item {
        flex-direction: row;
    }

    .my_m_info .m_item {
        margin-right: 15px;
    }

    .m_item:nth-child(1) {
        grid-area: qq;
    }

    .m_item:nth-child(2) {
        grid-area: ww;
    }

    .m_item:nth-child(3) {
        grid-area: aa;
    }

    .m_item:nth-child(4) {
        grid-area: ss;
    }

    .my_admin_btns {
        grid-template-areas: "q w"
                             "e r";
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }

    .my_edit span {
        display: none;
    }

    .my_edit img {
        display: inline;
    }

    .mp_back span {
        display: none;
    }

    .mp_back {
        border: none;
        padding: 0;
    }

    .mp_back img {
        width: 30px;
        margin: 0;
    }

    .mp_head {
        font-size: 24px;
        line-height: 29px;
    }

    .mp_sert .p {
        font-size: 12px;
    }

    .tag_user {
        width: 90px;
        margin: 0;
    }
}

@media (max-width: 870px) {
    .heading {
        font-size: 28px;
        line-height: 40px;
        margin: 0;
    }

    .dl_block {
        width: 290px;
        transform: translate(-62px, 0px);
    }

    .asl_img {
        width: 426px;
        transform: translate(-15px, 50px);
    }

    .stores img {
        width: 132px;
    }

    .store_button {
        width: 278px;
    }

    .calculate {
        padding-bottom: 65px;
    }

    .calc_comments {
        padding-top: 70px;
    }

    .com_user_nm {
        font-size: 18px;
        margin-top: 2px;
    }

    .com_user_info {
        font-size: 14px;
    }

    .com_block {
        height: 332px;
        flex: 0 0 403px;
        width: 403px;
    }

    .cns_free_block {
        width: 419px;
        padding: 21px 20px;
    }

    .cns_free_block p {
        font-size: 12px;
        line-height: 18px;
    }

    .num {
        font-size: 13px;
    }

    .cns_bg_block {
        width: 379px;
    }

    .chat-btn {
        line-height: 18px;
    }

    .t_store_button {
        width: 286px;
    }

    .t_dl_block {
        transform: none;
    }

    .t_img {
        width: 495px;
        transform: translate(-70px, -27px);
    }

    .t_cns_val {
        font-size: 25px;
    }

    .dt_btn {
        width: 100%;
    }

    .my_materials span {
        font-size: 16px;
    }

    .mp_sert img {
        width: 118px;
    }

    .mp_sert {
        grid-template-areas: "q w w w w"
            "e e e e e";
    }

    .mp_foot_sert {
        flex-direction: column;
        align-items: center;
    }

    .mp_foot_sert img {
        margin: 0;
        width: 80px;
        margin-bottom: 10px;
    }

    .mp_success {
        font-size: 14px;
    }

    .pub {
        flex-direction: column;
    }

    .pub_body {
        padding: 30px 30px 10px 30px;
    }

    .tag_user {
        margin: 0 0 0 auto;
    }

}

@media (max-width: 885px){
    .cns_val {
        font-size: 23px;
        line-height: 37px;
    }
}

@media (max-width: 767px) {
    .page-card-info-name, .page-card-info-title {
        font-size: 14px;
    }
    .mb_menu, .mb_header {
        display: flex;
    }
    .slider{
        display: block;
    }
    .news .m_block {
        margin: 20px 0 0;
    }
    .page-card-title {
        font-size: 18px;
    }
    .page-card-subtitle {
        font-size: 14px;
    }
    .page-card-date {
        font-size: 18px;
    }
    .donat .page-card-actions {
        flex-direction: column;
    }
    .menubar {
        display: none;
        overflow: scroll;
    }
    .mb_menu-slide {
        display: flex;
        flex-direction: column;
    }
    .cns{
        margin-top: 50px;
    }
    .cst_pd,
    .free_cns {
        padding: 0 150px;
    }
    .free_cns{
        margin-top: 60px;
        padding-bottom: 180px;
    }

    .heading {
        font-size: 30px;
    }

    .dl_info {
        font-size: 18px;
        line-height: 20px;
    }

    .add_info {
        font-size: 16px;
        line-height: 18px;
    }

    .dl_block {
        margin-top: 27px;
        width: 100%;
        transform: none;
    }

    .asl_img {
        width: 426px;
        left: 50%;
        transform: translate(-50%, -552px);
        position: absolute;
    }

    .t_img {
        transform: translate(-50%, -605px)
    }

    .store_info {
        font-size: 16px;
        margin-top: 417px;
        line-height: 20px;
    }

    .t_store_info {
        margin-top: 373px;
    }

    .k_cst_inp, .k_btn {
        margin: 10px 0;
    }

    .stores {
        display: grid;
        grid-template-areas: "in im";
        grid-template-columns: 1fr 1fr;
        text-align: center;
        grid-column-gap: 20px;
    }

    .t_stores {
        display: grid;
        grid-template-areas: "in im";
        grid-template-columns: 1fr 1fr;
        text-align: center;
        grid-column-gap: 20px;
    }

    .stores img {
        width: 100%;
        padding: 0;
    }

    .stores a:nth-child(1) img {
        grid-area: in;
    }

    .stores a:nth-child(2) img {
        grid-area: im;
    }

    .t_stores a:nth-child(1) img {
        grid-area: in;
    }

    .t_stores a:nth-child(2) img {
        grid-area: im;
    }

    .t_stores a img {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .store_button {
        width: 100%;
    }

    .t_store_button {
        width: 100%;
    }

    .cns_val {
        font-size: 48px;
        line-height: 60px;
    }

    .cns_info {
        font-size: 16px;
        width: 60%;
        margin: 10px auto 40px;
    }

    .cns_free_block {
        width: 100%;
        height: auto;
        padding: 30px 30px 40px;
    }

    .cns_free_block p {
        font-size: 18px;
        line-height: 22px;
    }

    .vl {
        width: 100%;
        height: 1px;
        border: 1px solid #C7C7C7;
        margin: 40px 0;
    }

    .num {
        display: block;
        font-size: 24px;
    }

    .chat-btn {
        height: 50px;
        max-width: 280px;
    }

    .cns_bg_block {
        transform: translateY(187px);
        width: 389px;
    }

    .com_cst_pd,
    .owl-nav,
    .owl-dots {
        padding: 0;
    }

    .v-carousel {
        padding-left: 0;
    }

    .dt_adv_list {
        flex-direction: column;
    }

    .kp_block {
        flex-direction: column;
    }

    .kp_btn_1 {
        border: none;
    }

    .kp_b_info {
        padding-bottom: 10px;
        border-bottom: 1px solid #F3F3F3;
    }

    .kp_b_url {
        padding-top: 10px;
        justify-content: space-between;
    }

    .kp_btn_1 {
        padding: 0;
    }

    .m_control {
        grid-template-areas: "q q"
                         "a s"
                         "d d"
                         "w w";
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 15px;
    }

    .m_btn {
        margin-top: 5px;
    }

    .my_m_btn {
        margin-top: 20px;
    }

    .m_head {
        font-size: 34px;
    }

    .popup_main h2 {
        font-size: 22px;
        line-height: 26.5px;
    }

    .popup_main {
        padding: 10px 20px 30px;
    }

    .my_send_block .success_message {
        font-size: 22px;
        line-height: 26px;
    }

    .mc_control {
        grid-template-areas: "a""s""d";
        grid-template-columns: 1fr;
    }

    .profile-header {
        flex-direction: column;
    }

    .profile-footer-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .ns_img {
    height: 211px;
    background: center 50% / auto 100% no-repeat;
}
    .dmob{
    display: none;
}
    .m_block.cm_main {
        position: relative;
        padding: 0;
        box-shadow: none;
    }
    .new{
        padding-bottom: 130px;
    }
    .cm_main .cm_form {
    grid-gap: 10px;
    margin: 10px 0 5px;
}
    .btn-primary.btn.cm_btn img{
        display: none;
    }
}

@media (max-width: 741px) {
    .heading {
        font-size: 28px;
    }

}

@media (max-width: 722px) {
    .cns_bg_block {
        transform: translateY(211px);
    }
}

@media (max-width: 711px) {
    .cst_pd,
    .free_cns {
        padding: 0 121px;
    }

    .free_cns {
        padding-bottom: 160px;
    }

    .cns_bg_block {
        transform: translateY(193px);
    }

    .m_head {
        font-size: 32px;
    }

    .mp_head {
        font-size: 22px;
        line-height: 26px;
    }

    .mp_foot_sert img {
        width: 62px;
    }
}

@media (max-width: 653px) {
    .cst_pd,
    .free_cns {
        padding-left: 100px;
        padding-right: 100px;
    }

    .cns_free_block p {
        font-size: 16px;
    }

    .kp_head {
        font-size: 32px;
    }

    .kp_info {
        font-size: 16px;
    }

    .m_item span {
        font-size: 14px;
    }

    .my_materials span {
        font-size: 14px;
    }

    .mp_footer span {
        font-size: 14px;
    }

    .mp_sert img {
        width: 102px;
    }

    .mp_foot_sert img {
        width: 50px;
    }

    .my_send_block .success_message {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 582px) {
    .cst_pd,
    .free_cns {
        padding-left: 50px;
        padding-right: 50px;
    }

    .mp_success {
        font-size: 12px;
    }

    .popup_main h2 {
        font-size: 20px;
        line-height: 24px;
    }

    .tak_name {
        font-size: 14px;
        line-height: 17px;
    }

    .takyryb span {
        font-size: 12px;
        line-height: 14.4px;
    }

    .popup_main hr {
        margin: 20px 0;
    }

    .my_m_btn {
        width: 100%;
    }

    .popup_m_btn {
        margin: 0;
    }

    .popup_main {
        padding: 10px 10px 30px;
    }
}

@media (max-width: 532px) {
    .video {
        width: 457px;
    }
    .mb_menu-slide{
        padding: 15px 35px;
    }
    .k_form_head {
        font-size: 32px;
    }

    .kp_head {
        font-size: 28px;
    }

    .kp_info {
        font-size: 14px;
    }

    .kp_b_info .kp_b_head {
        font-size: 16px;
    }
    .news .m_block {
        padding: 20px;
    }

    .m_head {
        font-size: 28px;
        line-height: 32px;
    }

    .m_info {
        font-size: 14px;
    }

    .mp_head {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 20px;
    }

    .mp_info {
        font-size: 12px;
        line-height: 14px;
    }

    .mp_sert .p {
        font-size: 10px;
        line-height: 14px;
    }

    .my_m_info img {
        width: 20px;
    }

    .mc {
        padding-top: 20px;
    }
}

@media (max-width: 482px) {
    .cst_pd,
    .free_cns {
        padding-left: 20px;
        padding-right: 20px;
    }

    .heading {
        line-height: 32px;
    }

    .com_info {
        font-size: 26px;
        line-height: 36.2px;
    }

    .video {
        width: 398px;
    }

    .cst-carousel .owl-dots {
        transform: translateY(-48px);
    }

    .video_review {
        padding-bottom: 50px;
    }

    .k_form_head {
        font-size: 28px;
    }

    .m_head {
        font-size: 26px;
        line-height: 28px;
    }

    .m_info {
        font-size: 12px;
        line-height: 17.4px;
    }

    .m_footer span {
        font-size: 14px;
    }

    .m_block_head {
        font-size: 18px;
        line-height: 26.1px;
    }

    .m_body {
        font-size: 12px;
        line-height: 17.4px;
    }

    .mp_footer span {
        font-size: 12px;
    }

    .mp_sert img {
        width: 82px;
    }

    .mp_foot_sert img {
        width: 40px;
    }

    .my_send_block .success_message {
        font-size: 18px;
        line-height: 22px;
    }
}

@media (max-width: 429px) {
    .heading {
        line-height: 28px;
        font-size: 24px;
    }
    .mb_menu-slide{
        padding: 10px 25px;
    }
    .dl_info {
        font-size: 16px;
        line-height: 19px;
    }

    .add_info {
        font-size: 14px;
        line-height: 16px;
    }

    .store_info {
        font-size: 18px;
        text-align: left;
        line-height: 22px;
        margin-left: 10px;
    }

    .t_store_info {
        margin-top: 329px;
    }

    .stores {
        margin: 20px 0;
    }

    .t_img {
        transform: translate(-50%, -618px);
    }

    .com_block {
        width: 320px;
        height: 284px;
    }

    .owl-carousel .owl-item .com_avatar {
        width: 40px;
        height: 40px;
    }
    .owl-stage{
        height: 320px;
    }

    .com_body {
        font-size: 14px;
        line-height: 16px;
    }

    .com_user_info {
        font-size: 12px;
        line-height: 15px;
    }

    .com_stars img {
        width: 18px;
    }

    .cns_bg_block {
        transform: translateY(190px);
        width: 329px;
    }

    .kp_head {
        font-size: 24px;
    }

    .kp_b_info span {
        font-size: 12px;
    }

    .kp_b_info .kp_b_head {
        font-size: 14px;
    }

    .m_head {
        font-size: 22px;
        line-height: 29px;
    }

    .m_footer span {
        font-size: 12px;
    }

    .m_item span {
        font-size: 12px;
    }

    .my_materials span {
        font-size: 13px;
    }

    .deleteBtn {
        margin-left: 20px;
    }

    .popup_main h2 {
        font-size: 20px;
        line-height: 22.5px;
    }

    .popup_main {
        padding: 10px 0px 30px;
    }
}

@media (max-width: 417px) {
    .asl_img {
        width: 333px;
        transform: translate(-50%, -504px);
    }

    .store_info {
        margin-top: 342px;
    }

    .t_store_info {
        margin-top: 277px;
    }

    .store_button {
        width: 95%;
    }

    .stores img {
        width: 100%;
    }

    .t_stores img {
        width: 100%;
    }

    .store_button {
        width: 100%;
    }

    .t_img {
        transform: translate(-50%, -546px);
    }

    body {
        overflow-x: hidden;
    }

    .k_form_head {
        font-size: 24px;
        line-height: 34px;
    }

    .video {
        width: 353px;
    }

    .cst-carousel .owl-dots {
        transform: translateY(-80px);
    }

    .video_review {
        padding-bottom: 0px;
    }

    .m_head {
        font-size: 20px;
    }

    .cns_bg_block {
        transform: translateY(206px);
    }

    .my_send_block .success_message {
        font-size: 16px;
        line-height: 19px;
    }
}

@media (max-width: 385px) {
    .my_m_info {
        width: 100%;
        justify-content: space-around;
    }

    .my_m_info .m_item {
        margin: 0;
    }

    .mp_head {
        font-size: 18px;
        line-height: 20px;
    }

    .popup_main h2 {
        font-size: 18px;
        line-height: 21.6px;
    }
}
