.profile-header {
    width: 100%;
    background: #FFFFFF;

    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    gap: 20px 30px;
}

.profile-header-image {
    height: 150px;
    width: 130px;
    background-size: contain;
    background: #3E6CED url('/images/profile-icons/profile-default-image.svg') no-repeat center;

    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.profile-header-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px 10px;
}

.profile-username {
    font-family: 'Gilroy-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #4E4E4E;
}

.profile-information {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.information-item {
    width: 100%;
    display: flex;
    gap: 10px;
}

.information-item-label {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #C9C9C9;
}

.information-item-result {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #4E4E4E;
}

.profile-edit {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;

    color: #3E6CED;
    cursor: pointer;

    display: inline-block;
    transition: all 0.4s;
    position: relative;
    width: fit-content;
}

.profile-edit::after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: #1C4CCF;
    transition: 300ms;
}

.profile-edit:hover {
    transition: all 0.4s;
    color: #1C4CCF;
}

.profile-edit:hover::after {
    width: 100%;
}

.profile-info-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.profile-info {
    /*min-width: 270px;*/
    flex: 1 0 270px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}

.profile-info-header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-info-title {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #8B8B8B;
}

.profile-info-description {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #292929;
}

.profile-info-actions-group {
    display: flex;
    gap: 30px
}

.profile-info-action {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;

    color: #3E6CED;
    cursor: pointer;

    display: inline-block;
    transition: all 0.4s;
    position: relative;
    width: fit-content;
}

.profile-info-action::after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: #1C4CCF;
    transition: 300ms;
}

.profile-info-actionedit:hover {
    transition: all 0.4s;
    color: #1C4CCF;
}

.profile-info-action:hover::after {
    width: 100%;
}
